*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-weight: normal;
}

h1 {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    color: green;
}
.teste{
    color: rgb(255, 0, 0);
}

#teste {
    color: rgb(0, 0, 255);
}
[name=paragrafo] {
    color:aqua
}
[type="button"]{
    background-color: rgb(255, 223, 180);
}
[type="text"]{
    width: 300px;
}
